<mat-toolbar color="primary">
	<div fxHide.gt-xs>
<!-- 		
		when we click here, we run onToggleSideNav (a function defined in our header.component.ts file)
		this function emits an event called sidenavToggle(). 

		in our html tag, we are listening for this to happen
		like this: <app-header (sidenavToggle)="sidenav.toggle()""></appheader> 
		as you can see above, when the event happens, it looks for sidenav and toggles it.
-->
		<button mat-icon-button (click)="onToggleSidenav()">
<!--  -->
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div><a routerLink="/">LOGO</a></div>
	<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
		<ul fxLayout fxLayoutGap="15px" class="navigation-items">
			<li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
			<li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
			<li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
			<li *ngIf="isAuth"><a (click)="onLogout()" style="cursor: pointer">Logout</a></li>
		</ul>
	</div>
</mat-toolbar>